*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0b0b0b;
    color:white;
    overflow-x:hidden;
}

/* Animated Background */

.bg-animation{
    position:fixed;
    inset:0;
    z-index:-1;
}

.bg-animation span{
    position:absolute;
    border-radius:50%;
    filter:blur(120px);
    animation:float 10s infinite ease-in-out;
}

.bg-animation span:nth-child(1){
    width:400px;
    height:400px;
    background:#c4d83f;
    top:-100px;
    left:-100px;
}

.bg-animation span:nth-child(2){
    width:350px;
    height:350px;
    background:#c4d83f;
    bottom:-100px;
    right:-100px;
}

.bg-animation span:nth-child(3){
    width:250px;
    height:250px;
    background:#7f8f2a;
    top:50%;
    left:50%;
}

@keyframes float{

    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-40px);
    }
}

/* Navbar */

.navbar{
    width:90%;
    margin:auto;
    margin-top:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 30px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.1);

    border-radius:20px;
}

.logo-box img{
    width:65px;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    transition:.3s;
}

.nav-links a:hover{
    color:#c4d83f;
}

/* Hero */

.hero{
    min-height:85vh;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.hero-content{
    max-width:800px;
}

.hero-logo{
    width:140px;
    margin-bottom:20px;

    animation:logoFloat 4s infinite ease-in-out;
}

@keyframes logoFloat{

    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-10px);
    }
}

.hero h1{
    font-size:5rem;
    font-weight:800;
}

.hero h2{
    color:#c4d83f;
    margin-top:10px;
    font-size:2rem;
}

.hero p{
    margin-top:25px;
    line-height:1.8;
    color:#ddd;
}

.hero-buttons{
    margin-top:35px;

    display:flex;
    justify-content:center;
    gap:20px;
}

.btn{
    padding:14px 32px;
    border-radius:50px;
    text-decoration:none;
    font-weight:600;
}

.primary-btn{
    background:#c4d83f;
    color:black;
}

.secondary-btn{
    border:1px solid white;
    color:white;
}

.primary-btn:hover,
.secondary-btn:hover{
    transform:translateY(-4px);
}
